*{font-family: 'Montserrat', sans-serif;}

body{margin: 0px;width:80%;}

h1{color:#FF8000;text-align: justify;
	letter-spacing: 10px;
	font-size:35px;
}

#d1{
	position: absolute;
	width: 100%;
	height: 1000px;
	background-image:url(../images/banner.jpg); 
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

#menu{
	
	width: 100%;
	float: left;
	background-color:#000000 ;
	filter: alpha(opacity=40);
	opacity: 0.65;

}

#menu ul{float:right; margin:0;padding: 0px; list-style: none;}
#menu ul li{float: left;font-size:13px;}
#menu ul li a{ font-size:16px;  color:#F2F2F2;text-decoration:none; padding: 30px; display: block;}
#menu ul li:hover { background:#A4A4A4; }

#logo{
		margin-left: 18px;
		margin-top: 30px;
		
}


.container{
	margin-top:350px;
	 
}
.NomeMeio p{
	color:#fff; 
	letter-spacing:5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-size:52px;
	margin-top:50px;
	text-align: center;
}

.botoes span{
	margin-top:0px; 
}

.botoes{
		z-index:2; 
		text-align: center;
		height:150px;
		margin-bottom: 200px;  
}

.botoes a{
	text-decoration: none;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-size: 25px;
	color:#fff;
	padding: 15px 15px;
	padding-top: 15px;
	display:inline-block;
	border: 3px solid #fff;
}

.botoes a:hover{
	background-color: #BDBDBD;
}




/*DIV 2*/
.d2{
	padding-top: 1000px;
	width: 1108px;
	height: 260px;
		
}

.grid-container2{
	display:grid;
	grid-template-columns:320px 900px;
	grid-gap: 40px;
	height:265px; 
	padding:20px; 
}

.grid-container2 > div{
	text-align: justify;
	padding: 10px;
}

.grid-container2 #pcs{
	text-align: left; 
}

.texto p{
	text-align: right;
	margin-left:0px;
	padding-left:0px;  
}





/*DIV 3*/

.itensGlobal{
	position: absolute;
	width: 100%;
	height: 580px;
	top:1265px;
	border-top:#A9A9A9 solid 0.5px;
}

.itensGlobal h1{
	text-align:center;
	font-size: 35px;
}

.grid-container{
	height: 400px;
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	grid-gap: 35px;
	padding: 20px;
}

.grid-container > div{
	text-align: center;
	border-style:solid;
	border-color:black;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:0.5px;
	border-bottom-width:2px;    
	padding-left:0;

}



.botaozinho{
	position: relative;
	left: 600px;
	font-size: 25px;
	color:#fff;
	background-color:#000;
	border-radius: 5px;
	padding-left:35px;
	padding-right: 35px; 
}

/*Caixinhas 1*/

.content1{
	display: flex;
	height: 395px;
	flex-direction: column;
	background-color:#fff;
}

#caixaCima1{
	background-color:#FF6347;
	height: 300px;
}

.Imagem-html{
	padding-top:30px; 
}

#caixaCima1 p{
	color:#fff;
	padding-top: 35px;
	padding-right:80px; 
}

.caixaBaixo{
	background-color:#fff;
	height:95px;
}

.caixaBaixo p{
	margin-bottom:0; 
}

.botao-caixa-baixo{
	background-color: #FF8C00;
	color:#fff;
	border-radius: 12px;
	padding-right:15px; 
	padding-left:15px; 
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top:10px; 
	letter-spacing:0; 
}





.botao-caixa-baixo span{
	font-size: 15px;
	letter-spacing:2px; 
}


/*Caixinhas 2*/

#caixaCima2{
	background-color:#FF6347;
	height: 300px;
}

#caixaCima2 p{
	color:#fff;
	padding-top: 35px;
	padding-left: 30px; 
	text-align: left;
}


/*Caixinhas 3*/

#caixaCima3{
	background-color:#00CED1;
	height: 300px;
}

#caixaCima3 p{
	color:#fff;
	padding-top: 35px;
	padding-left: 30px; 
	text-align: left;
}


/*Caixinhas 4*/

#caixaCima4{
	background-color:#FFD700;
	height: 300px;
}

#caixaCima4 p{
	color:#fff;
	padding-top: 30px;
	padding-left: 30px;
	margin-top: 10px; 
	text-align: left;
}




/*Ultima div*/

.itensGlobal2{
	position: absolute;
	width: 100%;
	height: 580px;
	top:1860px;
	border-top:#A9A9A9 solid 0.5px;
	 
}

.itensGlobal2 h1{
	text-align:center;
	font-size: 35px;
	color:#A52A2A;
}


.botao-caixa-baixo2{
	
	background-color: #A52A2A;
	color:#fff;
	border-radius: 12px;
	padding-right:15px; 
	padding-left:15px; 
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top:10px; 
	letter-spacing:0; 
}

.botao-caixa-baixo2 span{
	font-size: 15px;
	letter-spacing:2px; 
}

#caixaCima5{
	background-color:#8B0000;
	height: 300px;
}

#caixaCima5 p{
	color:#fff;
	padding-top: 30px;
	padding-left: 30px;
	margin-top: 10px; 
	text-align: left;
}



#caixaCima6{
	background-color:#A52A2A;
	height: 300px;
}

#caixaCima6 p{
	color:#fff;
	padding-top: 30px;
	padding-left: 30px;
	margin-top: 10px; 
	text-align: left;
}

#caixaCima7{
	background-color:#6A5ACD;
	height: 300px;
}

#caixaCima7 p{
	color:#fff;
	padding-top: 30px;
	padding-left: 30px;
	margin-top: 10px; 
	text-align: left;
}


#caixaCima8{
	background-color:#A52A2A;
	height: 300px;
}

#caixaCima8 p{
	color:#fff;
	padding-top: 30px;
	padding-left: 30px;
	margin-top: 10px; 
	text-align: left;
}


.caixaBaixo2 p{
	margin-bottom:0;
	margin-right:10px; 
	text-align: right;
}



/*---------------Alerta--------------------------*/


body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

#alerta {
	width: 400px;
	background-color: #eddfdf;
	border: 1px solid #ccc;
	margin: 40px auto;
	cursor: move;
	position: absolute;
	left: calc(50% - 200px);
	z-index: 3;
}

#alerta .title{
	background-color: #329596;
	height: 30px;
	border-bottom: 1px solid #227374;
	text-transform: uppercase;
	padding: 10px 10px 0px 0px;
	text-align: center;
	color: #073c3d;
	text-shadow: 1px 1px 1px #6fabac;
}

#alerta .title i{
	float: right;
	padding-top: 3px;
}

#alerta .body{
	padding: 10px;
}

form button{
	display: block;
	padding: 4px 11px;
	border: 1px solid #ffcc00;
	background-color: #ffcc00 !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
	background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 #666;
	cursor:pointer;
	position: relative;
	margin: 10px auto;
}

input[type=text]{   
    height: 34px;
    width: 315px;
    padding: 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#alerta .resultado{
	color: #227210;
	font-size: 12px;
}


#contador {
	color: #000000;
	text-align: center;
}


.movimento{
	position: fixed;
	z-index: 2;
	background-color:#2F4F4F; 
	top:3%;
	left: 45%;
	width: 250px;
}